[MASTER]
# Python linting configuration

[MESSAGES CONTROL]
# Disable specific messages
disable=
    E0611,  # No name X in module Y
    E1101,  # Module X has no Y member
    R0903,   # Too few public methods
    E0401   # Mediapipe import error