[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
opencv-python-headless = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
typing-extensions = "*"
dill = "*"

[requires]
python_version = "3.12"
