<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../static/login.css" />
</head>

<body>
  <div class="container">
    <div class="login-box">
      <div class="form-section">

        <h2>Sign In</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
          <p style="color: red;">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter your username" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>

          <button type="submit">Sign In</button>
        </form>
      </div>

      <div class="welcome-section">
        <h2>Jumparoo</h2>
        <p>Don't have an account yet?</p>
        <a href="{{ url_for('register') }}" class="signup-btn">Sign Up</a>
      </div>

    </div>
  </div>
</body>

</html>